.TaskController input{
    margin-left: 5%;
    background-color: aliceblue;
}



.TaskController{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TaskController *{
    width: 40%;
    margin: 0.7%;
}

.TaskController button{
    width: 20%;
    border-radius: 10px;
    background-color: aliceblue;
}

.DarkController{
    color: whitesmoke;
}

.DarkController input{
    background-color:gray;
    color:whitesmoke;
}


.DarkController button{
    background-color:rgb(66, 47, 134);
    color: whitesmoke;
}
