.TaskHolder{
    box-sizing: border-box;
    background-color: cadetblue;
    padding: 1% 2%;
    width: 60%;
    border:2px solid gray;
    border-radius: 20px;
}


.TaskHolder ul{
    list-style: none;
}

.TaskController input{
    margin-left: 5%;
    background-color: aliceblue;
}

.TaskController select{
    padding: 0.5%;
    margin-left: 5%;
    background-color: aliceblue;
}

.TaskController{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TaskController *{
    width: 40%;
    margin: 0.7%;
}

.TaskController button{
    width: 20%;
    border-radius: 10px;
    background-color: aliceblue;
}

